.wrapper {
    width: 340px;
    height: 540px;
    padding: 10px;
    border-radius: 10px;
    background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
  }
 
  .nana{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;  
    margin-top: 50px;
  }
  .frist{
    height: 160px;
    width: 100%;
    box-sizing: border-box;
    text-align: end;
    font-size: 40px;
    
  }
  .allin{
    height: 120px;
    
    width: 68px;
    cursor: pointer;
    
    }